body {
  background-color: rgb(77, 195, 241);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.header_nav {
  background-color: black;
  width: 100%;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.header_nav a {
  color: #f5f5f5;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 16px;
  font-weight: bold;
}

.header_nav a:hover {
  color: #f5f5f5;
  background-color: rgb(79, 55, 214);
}

.header_nav--active {
  background-color: rgb(79, 55, 214);
}

.header_img {
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid hsla(20deg, 0%, 100%, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 0 hsla(2deg, 30%, 50%, 0.5), -2px -0 hsla(2deg, 30%, 50%, 0.5);
}

.containerPrincipal_form--input {
  border: none;
  margin: 0.5rem 0;
  width: 500px;
  height: 25px;
  border-radius: 5px;
  background-color: hsla(20deg, 0%, 100%, 0.5);
}
.containerPrincipal-parrafo {
  text-align: center;
}
.containerPrincipal-link {
  text-align: center;
}
.table-estado {
  width: 100%;
}
table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px #252525 solid;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}

.containerPrincipal_form--btn {
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: hsla(90deg, 90%, 60%, 0.7);
  cursor: pointer;
  font-weight: 600;
}

.containerPrincipal_form--btn:hover {
  background-color: hsla(90deg, 90%, 60%, 0.9);
  transition: all 0.5s;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.containerPrincipal_form--select {
  border: none;
  text-align: center;
  height: 25px;
  border-radius: 0.2rem;
  background-color: hsla(20deg, 0%, 100%, 0.5);
}

.error-login {
  background-color: rgb(242, 84, 84);
  color: #252525;
  padding: 1rem;
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
}
.success-registro {
  background-color: rgb(94, 236, 94);
  color: #252525;
  padding: 1rem;
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
}
.main_table-libro {
  width: 100%;
}

.table-libro,
.tr-libro,
.th-libro,
.td-libro {
  border-collapse: collapse;
  border: 1px rgba(10, 10, 10, 0.4) solid;
}

.table-libro,
.th-libro,
.td-libro {
  text-align: center;
}

.table-libro {
  margin: 0 auto;
  width: 95%;
}

.btn-libroDelete,
.btn-libroEdit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: black;
}

.btn-libroDelete:hover {
  background-color: red;
}

.btn-libroEdit:hover {
  background-color: green;
}

.td-libro {
  background-color: rgb(77, 245, 241);
}
