body {
  background-color: rgb(77, 195, 241);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: -2rem;
}


.header_nav {
  background-color: black;
  width: 52.8%;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;

}

.header_nav a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 16px;
  font-weight: bold;

}

.header_nav a:hover {
  color: #f5f5f5;
  background-color: rgb(79, 55, 214);
}

.header_nav--active {
  background-color: rgb(79, 55, 214);
}

.header_img {
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;



}

main {
  display: flex;
  justify-content: center;
  align-items: center;

}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid hsla(20deg, 0%, 100%, .5);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 0 hsla(2deg, 30%, 50%, .5), -2px -0 hsla(2deg, 30%, 50%, .5);

}

.containerPrincipal_form--input {
  border: none;
  margin: .5rem 0;
  width: 500px;
  height: 25px;
  border-radius: 5px;
  background-color: hsla(20deg, 0%, 100%, .5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.containerPrincipal_form--btn {
  border: none;
  padding: 1rem;
  border-radius: .2rem;
  background-color: hsla(90deg, 90%, 60%, .7);
  cursor: pointer;
  font-weight: 600;
}

.containerPrincipal_form--btn:hover {
  background-color: hsla(90deg, 90%, 60%, .9);
  transition: all .5s;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.containerPrincipal_form--select {
  border: none;
  text-align: center;
  height: 25px;
  border-radius: .2rem;
  background-color: hsla(20deg, 0%, 100%, .5);
}